body {
    font-family: Arial, Helvetica, sans-serif;
    background:  black;
    color:  white;
    margin:  0;
    padding: 0;
    height:  100vh;
    width:  100vw;
}

.wait {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster {
    margin-bottom: 20px;
    border: 2px solid black;
}

.poster.current {
    border-color:  red;
}

.posterGrid {
    display: grid;
    margin-top: 10px;
    margin-left: 10px;
    grid-template-columns: repeat(8, 1fr);
}